.orderdata {
    width: 100%;
}

.orderdata_place_page {
    text-align: center;
}

.ingrlist {
    height: 376px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
}



.ingrlist::-webkit-scrollbar {
    width: 8px;
    background: var(--interface-input, #2F2F37);
}

.ingrlist::-webkit-scrollbar-thumb {
    border: 3px solid var(--text-dark-grey-secondary-text, #8585AD);
    background: var(--text-dark-grey-secondary-text, #8585AD);
    width: 8px;
}

.ingrlist__item {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.ingrlist__name {
    flex-basis: 320px;
    margin-right: 16px;
}

.inglist__price {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.iconingr__img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid transparent;
    background: 
        linear-gradient(#1f1f1f 0 0) padding-box, /*this is your grey background*/
        linear-gradient(to right, #801AB2, #4C4CFF) border-box;
    object-fit: contain;
    object-position: center;
}

.orderdata__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}