.formpagecontent {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accent {
    color: #4C4CFF;
    text-decoration: none;
}

.formpagecontent__form {
    text-align: center;
}